@import "tailwindcss";
@font-face {
    font-family: Poppin;
    src: url("./assets/fonts/Poppins-ExtraBold.ttf");
}

@font-face {
    font-family: PoppinBold;
    src: url("./assets/fonts/Poppins-Bold.ttf");
}


@theme{
    --font-Poppin: Poppin, "hello"
}

@theme{
    --font-Poppin: PoppinBold, "PoppinBold"
}

@keyframes vibrate {
  0% { transform: translate(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.vibrate {
  animation: vibrate 3s ease-in-out infinite;
}
